
<div *ngIf="igra && text" class="container">
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" routerLink="/index/igre/{{igra.id_igre}}/detalji">{{text._36}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" routerLink="/index/igre/{{igra.id_igre}}/botovi">{{text._37}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/index/igre/{{igra.id_igre}}/turniri">{{text._38}}</a>
      </li>
    </ul>
  
    <div>
        <h1 style="text-align: center; color: brown">{{igra.naziv_igre | titlecase}}</h1>  
        <h3 style="text-align: center; color: dodgerblue">{{igra.naziv_tipa_igre | titlecase}}</h3>
    </div>
       
    <router-outlet></router-outlet>
          
  </div>
</div>
