<div class="container-fluid" style="padding: 0">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <div id='naslov'>
        <h1>{{text._21}}</h1>
        <hr>
      </div>

      <br>
      <br>

      <p> {{text._220}}</p>
      <p> {{text._221}}</p>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p class="sredina"><b>Stefan Nestorović</b> - {{text._222}}</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/aboutStefa.jpg" style="width: 100%; height: 400px;">
        </div>
      </div>
      <br><hr>
      <div class="row">
        <div class="col-md-6">
          <p class="sredina"><b>Lazar Stanojević</b> - {{text._223}} </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/aboutLaki.jpg" style="width: 100%; height: 400px;">
        </div>
      </div>
      <br><hr>
      <div class="row">
        <div class="col-md-6">
          <p class="sredina"><b>Dragan Đurović</b> - {{text._224}}</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/aboutMechak.PNG" style="width: 100%; height: 400px;">
        </div>
      </div>
      <br><hr>
      <div class="row">
        <div class="col-md-6">

          <p class="sredina"><b>Strahinja Milutinović</b> - {{text._225}}</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/aboutStrale.jpg" style="width: 100%; height: 400px;">
        </div>
      </div>
      <br><hr>
      <div>
        <br><br>
        <h4>{{text._219}}: purelogicgames@gmail.com</h4>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>