
<img class="img-fluid full" src="../../../assets/carousel/01.gif" alt="First slide">

<div *ngIf="text" id="slideshow">
  <carousel [interval]="8000">
    <slide>
      <div>
          <h1 class="naslov">{{ text._1048 }}</h1>
          
          <p class="paragraf">{{ text._1049 }}</p>
          <p class="paragraf">{{ text._1050 }} <a routerLink="/igre">{{ text._1051 }}</a>{{ text._1052 }}</p><br>
          <p class="paragraf">{{ text._1053 }} <a routerLink="/registracija">{{ text._1054 }}</a>{{ text._1055 }}</p>
      </div>
    </slide>
    
    <slide>
      <div>
          <h1 class="naslov">{{ text._1056 }}</h1>

          <p class="paragraf">{{ text._1057 }}</p>
          <p style="font-style: italic;" class="paragraf"><i>{{ text._1058 }}</i></p>
          <p class="paragraf">{{ text._1059 }}</p>
      </div>
    </slide>

    <slide>
      <div>
          <h1 class="naslov">{{ text._1060 }}</h1>

          <p class="paragraf">{{ text._1061 }}</p>
          <p class="paragraf">{{ text._1062 }}</p>
          <p class="paragraf">{{ text._1063 }} <i style="font-style: italic;">{{ text._1070 }}</i></p>
          <p class="paragraf">{{ text._1064 }}</p>
      </div>
    </slide>

    <slide>
      <div>
          <h1 class="naslov">{{ text._1065 }}</h1>

          <p class="paragraf">{{ text._1066 }}</p>
          <p class="paragraf">{{ text._1067 }}</p>
          <br>
          <p style="font-style: italic; text-align: center;" class="paragraf"><i>{{ text._1068 }}</i></p>
          <br>
          <p class="paragraf">{{ text._1069 }}</p>
      </div>
    </slide>
  </carousel>
</div>

<!--

    "_1048": "Olimijada",
    "_1049": "A place to enjoy and compete at fun AI games with others!",
    "_1050": "Take a look at our ",
    "_1051": "game list",
    "_1052": ", choose the game you like, code your bots, register them for a tournament and watch them in action.",
    "_1053": "Not registered yet? Do it ",
    "_1054": "here",
    "_1055": ", it's quick and easy!",
    "_1056": "Bots",
    "_1057": "What is a bot?",
    "_1058": "To put it simply, bots are software components that can make their own decisions based on their environment.",
    "_1059": "Here, environments for bots are the games we have in offer. Bots that you are meant to create are supposed to be good at following rules of specific game, and at predicting movements of their foes in order to win.",
    "_1060": "Our vision",
    "_1061": "Why do all of this?",
    "_1062": "Just think of all the great institutions and scientists in the world that work with AI, of the intelligent systems that they make or the robots that can simulate the human mind.",
    "_1063": "The question is: how can I achieve that? Where do i start?",
    "_1064": "The answer is here. Through a healthy competition you will learn a lot and at the same time you will meet other people with the similar goals and interests.",
    "_1065": "Questions",
    "_1066": "We offer support to everyone who needs it!",
    "_1067": "If you have any questions or problems, don't think twice about contacting us on our email: ",
    "_1068": "purelogicgames@gmail.com",
    "_1069": "Our administrators and moderators will help you with anything, as fast as possible.",

-->

