<div class="row">
  <div class="col-md-3">
    
  </div>

  <div class="col-md-6">
    <div id='naslov'>
      <h1>{{text._22}}</h1>
      <hr>
    </div>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{text._213}}
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          {{text._216}}
        </ng-template>
      </mat-expansion-panel><br>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{text._214}}
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          {{text._217}}
        </ng-template>
      </mat-expansion-panel><br>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{text._215}}
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          {{text._218}}
        </ng-template>
      </mat-expansion-panel><br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{text._226}}
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          {{text._227}}
        </ng-template>
      </mat-expansion-panel><br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{text._228}}
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          {{text._229}}
        </ng-template>
      </mat-expansion-panel><br>

  </div>

  <div class="col-md-3">
    
  </div>
</div>