<div style="text-align: center" *ngIf="text">
  <h3>{{obavestenje}}</h3><br><br>
  <div class="container-fluid">
    <div class="row">

      
      <div style="text-align: center" class="col-md-12">

        <button style="margin-right: 10px;width: 80px;" class="btn btn-primary" mat-raised-button [mat-dialog-close]="false">{{text._83}}</button>
        <button style="width: 80px;" class="btn btn-warning" mat-raised-button [mat-dialog-close]="true">{{text._82}}</button>

      </div>

    </div>
  </div>
</div>